################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LicenseSignatureService/bin
/LicenseSignatureService/obj
/LicenseSignatureServiceHandshake/bin
/LicenseSignatureServiceHandshake/obj
/LSMLicensing/bin
/LSMLicensing/obj
